@import-normalize; /* bring in normalize.css styles */
@font-face {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Stolzl'), url('./font/Stolzl-Bold.woff2') format('woff2'),
    url('./font/Stolzl-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Stolzl'), url('./font/Stolzl-Regular.woff2') format('woff2'),
    url('./font/Stolzl-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Stolzl';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Stolzl'), url('./font/Stolzl-Medium.woff2') format('woff2'),
    url('./font/Stolzl-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Stolzl Book';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Stolzl'), url('./font/Stolzl-Book.woff2') format('woff2'),
    url('./font/Stolzl-Book.woff') format('woff');
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
